<html>
<header>
	<script src="http://10.0.0.160:35729/livereload.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="bower_components/semantic-ui/build/packaged/css/semantic.css">
</header>
<body>

	<div ng-app="MyApp">
		<div ng-controller="MyController">

			<div class="ui black inverted menu">
				<a class="active item">
					<i class="home icon"></i> Home
				</a>
				<a class="item">
					<i class="mail icon"></i> Products
				</a>
				<a class="item">
					<i class="user icon"></i> Friends
				</a>
			</div><!-- end menu -->


			<div class="ui segment">
				<div class="ui form">
					<div class="ui four fields" style="width:100%">
						<div class="field">
							<label>Name</label>
							<input placeholder="Name" type="text" ng-model="product.name">
						</div>
						<div class="field">
							<label>Price</label>
							<input type="text" placeholder="Price" ng-model="product.price">
						</div>
						<div class="field">
							<label>Price</label>
							<input type="text" placeholder="Price" ng-model="product.price">
						</div>
						<div class="field">
							<label>Price</label>
							<input type="text" placeholder="Price" ng-model="product.price">
						</div>												
					</div> <!-- end form -->
				</div>

				<div class="ui form">

					<div class="field">
						<label>Description</label>
						<textarea placeholder="Description" ng-model="product.description"></textarea>
					</div>	

				</div>

				<div class="ui form">
					<div class="ui  mini button green" ng-click="add(product)" ng-show="!editing">
						<i class="add icon"></i>
						Add Product
					</div>
					<div class="ui  mini button green" ng-click="update(product)" ng-show="editing">
						<i class="add icon"></i>
						Update Product
					</div>	
				</div>

			</div> <!-- end segment -->


			<div class="ui segment" ng-hide="products.length == 0">
				<div class="ui small icon input" style="width:300px">
					<input type="text" placeholder="Search small..." ng-model="text">
					<i class="inverted43 search icon"></i>
				</div>

				<table class="ui collapsing table segment inverted black">
					<thead>
						<tr><th>Name</th>
							<th>Description</th>
							<th>Price</th>
							<th>Update/Remove</th>
						</tr>
					</thead>

					<tbody ng-repeat="p in products | filter:text">
						<tr>
							<td>{{p.name}}</td>
							<td>{{p.description}}</td>
							<td>{{p.price}}</td>
							<td>
								<div class="ui  mini button blue" ng-click="edit(p)" ng-show="!editing">
									<i class="edit icon"></i>
									Edit
								</div>
								<div class="ui  mini button red" ng-click="remove(p)">
									<i class="remove icon"></i>
									Remove
								</div>
							</td>

						</td>
					</tr>
				</tbody>

				<tfoot>
					<tr>
						<th>{{products.length}} Products</th>
						<th>2 Approved</th>
						<th></th>
						<th></th>
					</tr>
				</tfoot>
			</table> <!-- end table -->				
		</div>

	</div> <!-- end controller -->
</div> <!-- end app -->

</body>
</html>